.img-bro{
    height: 550px;
    width: 550px;
    display: block;
    margin-left: 50px;
}

@media screen and (max-width: 805px) {
    .img-bro{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .texts{
        margin-left: 173px;
    }
    .imgcol{
        display: none;
    }
    
}

@media screen and (max-width: 821px){
    #footerAboutme{
        margin-left: 200px;
    }
}

@media screen and (max-width: 769px) {
    .texts{
        margin-left: 180px;
    }
    #footerAboutme{
        margin-left: 0px;
    }
}

@media screen and (max-width: 575px) {
    .texts{
        margin-left: 0;
    }
}

@media screen and (width: 912px) {
    .img-bro{
        margin-left: 0;
        width: 400px;
        height: 400px;
    }
}